#contenedor{
		font: menu; 
		/*font-family:monospace;*/
		border-radius:10px; 
		-moz-border-radius:10px; /* Firefox */ 
		-webkit-border-radius:10px; /* Safari y Chrome */ 
		width: 300px;
		height:	100px;
		margin: 0 auto;
		background-color:#B0C4DE;
		margin-top:400px;
	background-image: url('fondo3.png');
}
